.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.detail {
    flex: 1;
    margin-top: 0.5%;
    width: 98%;
}

button {
    font-family: Arial;
    font-size: 16px;
    margin: 2px;
    background-color: #999999;
    border: 1px solid #666666;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20%;
    vertical-align: middle;
    text-align: center;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #4189C7;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px #666;
    display: flex;
}

#floating-button span {
    padding: 18px 0 0 9px;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4d4d4d;
    color: white;
}

.small {
    width: 8%;
    text-align: center;
}

.glyphicon:hover {
    cursor: pointer;
}

.input-table td, .input-table th, .input-table tr {
    background-color: white;
    border: none;
}

.input-label {
    width: 12%;
}

.pointer {
    cursor: pointer;
}